// Write your styles here

@mixin flexStandart($direction:row) {
    display: flex;
    flex-direction: $direction;
}

@mixin blockUnderline($width:auto, $height:15px, $marginTop:-10px) {
    display: block;
    position: relative;
    width: $width;
    height: $height;
    background-color: $underlineColor;
    margin-top: $marginTop;
    z-index: -1;
}

@mixin getFont($fontName) {
    $fontToInsert: map-get($fonts, $fontName);

    @if $fontToInsert {
        font-family: $fontToInsert, map-get($fonts, "usual");
    }

    @else {
        font-family: map-get($fonts, usual);
    }
}

@mixin getFontFromVar($fontName) {
    @if($fontName) {
        font-family: $fontName, map-get($fonts, usual);
    }

    @else {
        font-family: map-get($fonts, usual);
    }

}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: $bgColor;
}

.header {

    height: $headerHeight;
    @include flexStandart(column);
    align-items: center;
    justify-content: center;
    background: $headerBgPhoto no-repeat;
    background-size: 100% 100%;
    border-radius: 0px 0px $headerHeight*0.8 0px/ 0px 0px $headerHeight*0.5 0px;

    &-wrap {
        height: $headerHeight*0.8;
        width: 70%;
        z-index: 100;
        padding: 20px;
    }


    &_heading {
        color: $themeFontColor;
        font-size: 50px;
        font-weight: bold;
        @include getFont(big);
        width: 350px;

        &::after {
            content: "";
            @include blockUnderline(210px, 15px, -25px);
        }
    }

    &_text {
        color: $themeFontColor;
        width: 100%;
        text-align: left;
        @include getFontFromVar($headerTextFont);
        line-height: 25px;
        white-space: pre-line;
    }

}

.landing-logo {
    margin-top: -20px;
    width: 90px;
    height: 60px;
    @include flexStandart;
    align-items: center;
    justify-content: center;


    p {
        @include getFontFromVar($logoFont);
        font-weight: bold;
        margin-left: 10px;
        margin-bottom: 15px;
        color: $themeFontColor;
        font-size: $logoFontSize;
        @include flexStandart(column);
        line-height: 22px;

        span {
            font-size: $logoSubFontSize;
            width: 100%;
            text-align: center;
        }
    }
}

.header_button {
    margin-top: 30px;
    height: 40px;
    width: 130px;
    background-color: $btnColor;
    border: none;
    color: $btnFontColor;
    font-weight: bold;
    border-radius: 3px;

    &:hover {
        background-color: darken($btnColor, 10%);
    }
}

.section {
    z-index: 10;
    height: 110vh;
    @include flexStandart(column);
    align-items: center;
    position: relative;

    .section_text {
        text-align: center;
        margin-top: 40px;
        @include getFont(medium);
        font-weight: bold;
        font-size: 30px;
        color: $themeFontColor;

        &::after {
            content: "";
            @include blockUnderline(135px, 10px, -23px);
            left: 54%;
        }
    }

    &_card_wrap {
        @include flexStandart;
        align-content: center;
        justify-content: space-around;
        position: relative;
        width: 85%;

        .section_card {
            background-color: $placesBgColor;
            width: 29.25%;
            height: 94%;
            padding: 15px;
            z-index: 10;
            text-align: center;
            border-radius: 4px;
            box-sizing: content-box;

            &_img {
                width: 100%;
            }

            &_heading {
                font-weight: bold;
                display: inline-block;
                color: $placesFontColor;
                @include getFont(medium);
                font-size: 20px;
                margin-top: 0px;

                .section_card_underline {
                    @include blockUnderline(auto, 10px, -15px);
                }
            }

            &_text {
                @include getFont(small);
                @include flexStandart(column);
                justify-content: center;
                height: 80px;
                width: 100%;
                font-weight: 300;
                color: $placeDescFontColor;
                text-align: center;
                line-height: 25px;
                word-spacing: 1px;
                font-size: 15px;
            }
        }
    }

    .section_banner {
        border-radius: 4px;
        position: absolute;
        bottom: -7.5%;
        height: 6vh;
        width: 50%;
        padding: 3% 7%;
        background: linear-gradient(45deg, map-get($background, "start"), map-get($background, "end"));
        @include flexStandart;
        justify-content: space-between;
        align-items: center;

        .section_banner_text_wrap {
            z-index: 10;
            margin-top: -25px;

            .section_banner_heading {
                color: $banerHeaderFontColor;
                @include getFont("big");
                font-size: 22px;
                font-weight: bold;

                &::after {
                    content: "";
                    @include blockUnderline(45px, 10px, -11px);
                    left: 30%;
                }
            }

            .section_banner_text {
                margin-top: -5px;
                color: $banerTextFontColor;
                @include getFont("small");
                font-size: 14px;
            }
        }

        .section_banner_button {
            @extend .header_button;
            margin-top: 0px;
        }
    }
}

.footer {

    height: 20vh;
    background-color: $footerColor;
    padding: 3%;
    @include flexStandart;
    justify-content: center;

    &-wrap {
        width: 90%;
        @include flexStandart;
        justify-content: space-between;
        align-items: flex-end;
        @include getFontFromVar($footerFont);
        color: darken($footerFontColor, 15%);

        .footer_logo {
            @extend .landing-logo;
            @include getFontFromVar($footerLogoFont);
            width: 140px;

            p {
                color: darken($footerFontColor, 20%);
                font-size: 24px;

                span {
                    font-size: 11px;
                    width: 100%;
                }
            }
        }

        .footer_text {
            display: block;
            width: 30%;
            margin-top: 20px;
            height: 40px;
        }

        .footer-cr {
            display: block;
            margin-bottom: 20px;
        }
    }
}
